# Google Service Account
GOOGLE_SERVICE_ACCOUNT_EMAIL=mandarina-pro-sheets@gen-lang-client-0034534950.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Google Sheets
SHEET_ID=15OeKiQH3y4PmY_nMQyJoDHZnpeMFFzCr

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_KEY=TU_API_KEY_AQUI

# Shopify - Mandarina
SHOPIFY_MANDARINA_STORE=mandarinaec.myshopify.com
SHOPIFY_MANDARINA_TOKEN=TU_TOKEN_AQUI

# Shopify - Indstore
SHOPIFY_INDSTORE_STORE=indlovers.myshopify.com
SHOPIFY_INDSTORE_TOKEN=TU_TOKEN_AQUI

# App
NEXTAUTH_SECRET=genera-un-secret-largo-aqui
NEXT_PUBLIC_APP_URL=https://mandarina-pro.vercel.app
